<%= form_with model: @employee do |form| %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  
  </div>

  <div>
    <%= form.label :salary %><br>
    <%= form.text_field :salary %><br>
  
  </div>

   <div>
    <%= form.label :city %><br>
    <%= form.text_field :city %><br>
  
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>